html,body {margin:0;padding:0}
html{overflow-y:scroll}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


  .rowcont{

    display:flex;
    flex-direction:column;
    height:auto;
    align-items:space-around;
    border: lightgray 0.1rem solid;
    border-radius: 1rem;
  }
  .colcont{
    display:flex;
    flex-direction:row;
    height:auto;
    justify-content:space-around;
    border: lightgray 0.1rem solid;
    border-radius: 1rem;
  }
  
  .sidebar{
	  width:8vw;
  }
  
  .allcontentdiv{
	  width:90vw;
  }


#maingraph{
	width:65%;
}

#graficolinea{
	width:80%;height:100%;
}

#masdatos{
	width:20%;height:100%;
}

#donuts{
	width:35%;
	aspect-ratio: 1/1;
}

#donutrow1, #donutrow2 {
	height:50%;
	align-items:center;
}

#numberdetails{
	width:20%;
}
#stock_graphs{
	width:40%;height:100%;
}

#compras_recientes{
	width:40%;
}


@media only screen and (max-width: 800px) {
      .colcont{
    display:flex;
    flex-direction:column;
    height:auto;
    justify-content:space-between;
    border: lightgray 0.1rem solid;
    border-radius: 1rem;
  }
  .sidebar{
	  width:100vw;
	  flex-direction:row;
  }
  .allcontentdiv{
	  width:100vw;
  }
  #maingraph{
	width:100%;
	}
	#graficolinea{
	width:100%;height:50vh%;
}
#masdatos{
	width:100%;height:100%;
}

#donuts{
	width:100%;
	aspect-ratio: 1/1;
}
#donutrow1, #donutrow2 {
	height:100%;
	align-items:center;
}
#numberdetails{
	width:100%;
}
#stock_graphs{
	width:100%;height:100%;
}

.stockinfo{
	flex-direction:row;
}

#compras_recientes{
	width:100%;
}
}

  .donut{
    width:50%;
    aspect-ratio: 1/1;
  }

  .recharts-legend-item{
    font-size: 0.8rem;
  }
  .stockinfo > div {
    width:50%;
    height:100%;
  }